.char {
  background: rgba(255, 170, 170, 0.5);
  box-sizing: border-box;
  padding: 1vmin;
  margin: 0 3px;
  border-radius: 7px;
  cursor: default;
  font-weight: bolder;
  min-width: calc(15px + 2vmin);
  display: inline-block;
  white-space: nowrap;
  transition: transform .3s ease-in-out;
}

.is-switched {
  transform: rotateY(180deg);
}

.char-reverse {
  display: inline-block;
  transform: scale(-1, 1);
}

.char:hover {
  background: rgba(255, 170, 170, 1);
}
