.message {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20pt;
}

.message a, .message a:visited {
  color: inherit;
}
