.nav {
 display: inline-flex;
 justify-content: flex-end;
 width: 100%;
}

.nav .link {
  box-sizing: border-box;
  padding: 2vh 3vh;
  margin: -2px 1vh;
  border: 2px solid #000;
  color: #000;
  background: #fff;
}

.nav .link:hover {
  color: #fff;
  background: #000;
}

.nav .active {
  color: #fff;
  background: #000;
}
