.code {
  text-align: left;
}

.code .row {
  height: 7vmin;
}

.letter {
  width: 5vmin;
  font-weight: bolder;
}

.associations {
  outline: none;
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 1vmin;
  font-size: 16pt;
}
